

    <div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="display-1 bold color_white content__title text-center"><span
                            class="color_danger">ABOUT</span>US<span class="vim-caret">&nbsp;</span></h1>
                    <p class="text-grey text-spacey text-center hackerFont lead">
                        We are Cyber Security Professionals, concentrating on all vertices of cyber security such as
                        VAPT, SIEM, Secure Coding, Malware and Threats, Secure App Development, Security Devices and
                        much more..
                    </p>
                    <div class="row justify-content-center hackerFont">
                        <div class="col-md-8">
                            <h5 class="bold color_white pt-3">
                                What is Capture the Flag?
                            </h5>
                            A capture the flag (CTF) contest is a special kind of cybersecurity competition designed to
                            challenge its participants to solve computer security problems and/or capture and defend
                            computer systems. The game consists of a series of challenges where participants
                            must reverse engineer, break, hack, decrypt, or do whatever it takes to solve the challenge.
                            The challenges are all set up with the intent of being hacked, making it an excellent, legal
                            way to get hands-on experience.
                            <h5 class="bold color_white pt-3">
                                About Ozone CTF
                            </h5>
                            Ozone Cybersecurity CTF is a cutting-edge competition organized by Ozone Cybersecurity, a
                            leading name in the cybersecurity domain. With a commitment to fostering learning and
                            innovation in the field of cybersecurity, Ozone CTF offers participants a unique opportunity
                            to dive into hands-on challenges that mirror real-world security scenarios. Our team of
                            experts designs challenges that cater to participants of all skill levels, making it an
                            inclusive and enriching experience for everyone involved.
                            <h5 class="bold color_white pt-3">
                                Who can play Ozone CTF
                            </h5>
                            Ozone CTF is open to cybersecurity enthusiasts, students, professionals, and anyone
                            intrigued by the world of hacking and cybersecurity. Whether you're a beginner taking your
                            first steps in cybersecurity or an experienced professional looking to enhance your skills,
                            Ozone CTF provides an ideal platform to learn, grow, and connect with like-minded
                            individuals.
                            <div class="row text-center pt-5">
                                <div class="col-xl-12">
                                    <button
                                        class="btn btn-outline-danger btn-shadow px-3my-2 ml-0 ml-sm-1 text-left typewriter"
                                        onclick="(function(){window.location.href='login'})();">
                                        <h4>LET IT RIP!</h4>
                                    </button>
                                    <button
                                        class="btn btn-outline-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left typewriter"
                                        onclick="alert('0H D1D Y0U TH1NK 1T5 TH4T T00 345Y?!')">
                                        <h4>FL4G?</h4>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

