<div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <h1 class="display-1 bold color_white content__title">OZONE CTF<span class="vim-caret">&nbsp;</span>
                </h1>
                <p class="text-grey text-spacey hackerFont lead mb-5">
                    Join the community and be part of the future of the information security industry.
                </p>
                <div class="row  hackerFont">
                    <div class="col-md-6">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="reciept_id" name="username"
                                    placeholder="Username">
                                <small id="reciept_id_help" class="form-text text-muted">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="New Password">
                                <small id="passHelp" class="form-text text-muted">Make sure nobody's behind you</small>
                            </div>
                            <div class="custom-control custom-checkbox my-4">
                                <input type="checkbox" class="custom-control-input" id="solemnly-swear">
                                <label class="custom-control-label" for="solemnly-swear">I solemnly swear that I am up
                                    to no good.</label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <button class="btn btn-outline-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left typewriter"
                    type="submit">
                    <h4>Register</h4>
                </button>
                <small id="registerHelp" class="mt-2 form-text text-muted">Already Registered? <a href="login">Login
                        here</a></small>
            </div>
        </div>
        </form>
    </div>
</div>