<!DOCTYPE html>
<html lang="en">




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="display-1 bold color_white content__title text-center"><span
                        class="color_danger">HACKER</span>BOARD<span class="vim-caret">&nbsp;</span></h1>
                <p class="text-grey lead text-spacey text-center hackerFont">
                    Where the world get's ranked!
                </p>
                <div class="text-center">
                    <div class="col-md-12">
                        <button class="btn btn-outline-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-center typewriter"
                            onclick="alert('W3 T00 L0V3 MU51C!')">
                            <h4>PL4Y 7H3 MU51C!</h4>
                        </button>
                    </div>
                </div>


                <div class="row justify-content-center my-5">
                    <div class="col-xl-10">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5  justify-content-center">
            <div class="col-xl-10">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark hackerFont">
                        <tr>
                            <th>#</th>
                            <th>Team Name</th>
                            <th># Challenges Solved</th>
                            <th>Total Time Taken</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>liveoverflow</td>
                            <td>8</td>
                            <td>42:59</td>
                            <td>2540</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>CR007</td>
                            <td>6</td>
                            <td>44:59</td>
                            <td>1900</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>anonymous</td>
                            <td>4</td>
                            <td>40:00</td>
                            <td>650</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>ashawe</td>
                            <td>5</td>
                            <td>40:10</td>
                            <td>550</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    
        var datasets = [];
  
          {{#each jsonData}}
        
            var teamData = {
                label: '{{team}}',
                borderColor: getRandomColor(),
                steppedLine: true,
          
                data: [
                    {{#each this.cumulativeTaskStats}}
                    {
                        x: formatDateToCustomFormat(new Date('{{x}}')),
                        y: "{{y}}"
                    },
                    {{/each}}
                ]
            };
            datasets.push(teamData);


       
    {{/each}}
        
  





    var ctx = document.getElementById('myChart').getContext('2d');

  var chart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: datasets
          },
      options: {
          scales: {
              yAxes: [{
                  type: 'linear'
              }],
              xAxes: [{
                  type: 'time',
                  distribution: 'series',
                  time: {
                      unit: 'minute',
                      displayFormats: {
                          minute: 'hh:mm'
                      },
                      tooltipFormat: 'hh:mm'
                  }
              }]
          }
      }
  });
  

  function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    
    function formatDateToCustomFormat(dateString) {
      
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = ('0' + (date.getMonth() + 1)).slice(-2);
    const day = ('0' + date.getDate()).slice(-2);
    const hours = ('0' + date.getHours()).slice(-2);
    const minutes = ('0' + date.getMinutes()).slice(-2);
    const seconds = ('0' + date.getSeconds()).slice(-2);
    
    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
}

const originalDate = "Sat Aug 12 2023 11:12:55 GMT+0530 (India Standard Time)";
const convertedDate = formatDateToCustomFormat(originalDate);

</script>
</body>

</html>